$white-color: #FFF;
$silverChalice-color: #aaa;
$sonicSilver-color: #777;
$onyx-color: #444;
$black-color: #000;

$cultured-color: #F0F0F0;
$aliceBlue-color: #E2E8F0;
$spaceCadet-color: #142247;
$fordBlue-color: #041136;
$scarlet-color: #FF2E00;
$persimmon-color: #EA580C;
$jonquil-color: #FACC15;
