main {
  font-family: 'Poppins', Courier, monospace;
}

.searchResult {
  display: block;
}

.searchResult.propertiesNotFound {
  display: none;
}

.propertiesNotFoundText {
  display: none;
  width: 100%;
  margin: 60px 0;
  font-size: 1.2rem;
  text-align: center;
}

.propertiesNotFoundText.propertiesNotFound {
  display: block;
}

.filterInfo {
  transition: 0.5s ease-in-out;
  width: 900px;
  margin: 25px auto;

  p {
    margin-left: 20px;
  }
}

.infoImmobile {
  width: 900px;
  height: 280px;
  margin: 25px auto;
  background: linear-gradient(45deg, #FF2E00, #EA580C);
  display: flex;
  border-radius: 24px;
  color: white;
  cursor: pointer;

  .imgImmobile {
    width: 400px;
    border-radius: 24px 0 0 24px;
    object-fit: cover;
  }

  .infos {
    width: 100%;
    height: 100%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    h1 {
      font-size: 1.8rem;
      font-weight: 400;
    }

    .description {
      font-size: 1.4rem;
      font-weight: 300;
    }

    .city {
      font-size: 1.2rem;
      font-weight: 300;
    }

    .details {
      display: flex;
      justify-content: space-between;

      div {
        width: 100px;
        display: flex;
      }

      img {
        width: 35px;
      }

      p {
        margin-left: 10px;
        font-size: 1.2rem;
        font-weight: 300;
      }
    }
  }
}

.infoImmobileStep {
  transition: 0.5s ease-in-out;
  width: 900px;
  height: 100px;
  margin: 25px auto;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;

  .step {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    color: #FF2E00;

    h4 {
      height: 50px;
      line-height: 50px;
      text-align: center;
    }
  }

  .step.active {
    background: linear-gradient(135deg, #FF2E00, #EA580C);
    color: white;
  }

  img {
    width: 35px;
    margin: 0 10px;
    opacity: 0;
  }

  img.previous {
    transform: rotateZ(180deg);
  }

  img.active {
    opacity: 1;
  }
}

@media (max-width: 1000px) {
  .filterInfo {
    width: 600px;

    p {
      margin-left: 20px;
    }
  }

  .infoImmobile {
    width: 600px;
    height: 220px;
    margin: 15px auto;

    .imgImmobile {
      width: 250px;
    }

    .infos {
      width: 350px;
      padding: 10px 15px;

      h1 {
        font-size: 1.6rem;
      }

      .description {
        font-size: 1rem;
      }

      .city {
        font-size: 1rem;
      }

      .details {
        img {
          width: 25px;
        }

        p {
          font-size: 1em;
        }
      }
    }
  }

  .infoImmobileStep {
    width: 600px;
    height: 60px;
  }
}

@media (max-width: 700px) {
  .filterInfo {
    width: 400px;
  }

  .infoImmobile {
    width: 400px;
    height: 450px;
    margin: 15px auto;
    flex-direction: column;

    .imgImmobile {
      width: 100%;
      height: 250px;
      border-radius: 24px 24px 0 0;
    }

    .infos {
      width: 100%;
      padding: 10px 15px 15px 15px;
    }
  }

  .infoImmobileStep {
    width: 400px;
  }
}

@media (max-width: 700px) {
  .filterInfo {
    width: 380px;
  }

  .infoImmobile {
    width: 380px;
    height: 450px;
    margin: 15px auto;
    flex-direction: column;

    .imgImmobile {
      width: 100%;
      height: 250px;
      border-radius: 24px 24px 0 0;
    }

    .infos {
      width: 100%;
      padding: 10px 15px 15px 15px;
    }
  }

  .infoImmobileStep {
    width: 380px;
  }
}
