<app-search-bar></app-search-bar>

<main>
  <div [ngClass]="{propertiesNotFound: numberOfProperties === 0}" class="searchResult">
    <div class="filterInfo">
      <p> {{ numberOfProperties }} Imóveis encontrados {{ stringInfo }}</p>
    </div>

    <div class="infoImmobile" (click)="redirectDetails(property.id)" *ngFor="let property of properties">
      <img class="imgImmobile" [src]="property.url[0]" alt="">
      <div class="infos">
          <div class="">
            <h1>R$ {{ property.price }} por noite</h1>
            <p class="city">{{ property.city }} - {{ property.uf }}</p>
          </div>
          <p class="description">{{ property.description }}</p>
          <div class="details">
            <div class="information">
              <img [src]="svgBedroom" alt="Icone de uma cama">
              <p>{{ property.bedroom }} quartos</p>
            </div>
            <div class="information">
              <img [src]="svgArea" alt="Icone de dois quadrados">
              <p>{{ property.area }} m²</p>
            </div>
            <div class="information">
              <img [src]="svgBathroom" alt="Icone de um banheiro">
              <p>{{ property.bathroom }} banheiros</p>
            </div>
            <div class="information">
              <img [src]="svgSpot" alt="Icone de uma garagem">
              <p>{{ property.spot }} vaga</p>
            </div>
        </div>
      </div>
    </div>

    <div class="infoImmobileStep">
      <img #previous [src]="svgArrow" class="previous active" alt="" (click)="previousCardSet(1)">
      <div class="step" [ngClass]="{'active': i === propertiesStep }" *ngFor="let infoImovel of propertiesSeparated; let i = index" (click)="changeStep(i)"><h4>{{ i + 1 }}</h4></div>
      <img #next [src]="svgArrow" class="active" alt="" (click)="nextCardSet(1)">
    </div>
  </div>

  <div [ngClass]="{propertiesNotFound: numberOfProperties === 0}" class="propertiesNotFoundText">
    Nenhum imóvel encontrado com o filtro desejado
  </div>
</main>

<app-slider titleSlider="Imóveis em Destaque"></app-slider>
<app-slider titleSlider="Imóveis para Você"></app-slider>
