.card {
  width: 390px;
  display: flex;
  flex-direction: column;
  cursor: pointer;
}

.card__img {
  height: 250px;
  width: 100%;
  object-fit: cover;
  border-radius: 12px;
  background-color: antiquewhite;
}

.card__info {
  padding: 10px;
  border-radius: 0 0 18px 18px;
  display: flex;
  flex-direction: column;
  color: #0d0d0d;
  font-family: 'Poppins', Courier, monospace;
}

.card__info .price {
  font-size: 24px;
  font-weight: 400;
}

.card__info .location {
  font-size: 18px;
  font-weight: 300;
  opacity: 0.9  ;
}

.card__info .details {
  display: grid;
  gap: 5px;
  margin-top: 10px;
  grid-template-columns: 1fr 1fr;
}

.card__info .information {
  display: flex;
  gap: 10px;
}

.card__info .information p {
  font-size: 16px;
  font-weight: 300;
}

.card__info .information img {
  opacity: 0.6;
  width: 25px;
}
