<div class="card" (click)="redirectDetails()">
  <img class="card__img" [src]="infoCard.url" alt="Foto de uma casa bonita e elegante">
  <div class="card__info">
    <p class="price">R$ {{ infoCard.price }} mês</p>
    <p class="location">{{ infoCard.city }}, {{ infoCard.country }}</p>
    <div class="details">
      <div class="information">
        <img [src]="svgBedroom" alt="Icone de uma cama">
        <p>{{ infoCard.bedroom }} quartos</p>
      </div>
      <div class="information">
        <img [src]="svgArea" alt="Icone de dois quadrados">
        <p>{{ infoCard.area }} m²</p>
      </div>
      <div class="information">
        <img [src]="svgBathroom" alt="Icone de um banheiro">
        <p>{{ infoCard.bathroom }} banheiros</p>
      </div>
      <div class="information">
        <img [src]="svgSpot" alt="Icone de uma garagem">
        <p>{{ infoCard.spot }} vaga</p>
      </div>
    </div>
  </div>
</div>
