<section>
  <div class="boxImages">
    <div class="bigHouse"><img [src]="propertyImg[0]"></div>
    <div class="disappear2"> <img [src]="propertyImg[1]"></div>
    <div class="disappear2"> <img [src]="propertyImg[2]"></div>
    <div class="disappear"> <img [src]="propertyImg[3]"></div>
    <div class="disappear"> <img [src]="propertyImg[4]"></div>
  </div>
    <div class="property-information">
      <div class="information">
        <h3 class="title">{{property.title}}</h3>
        <p class="address">{{property.street}} {{property.number}}, {{property.neighborhood}}, {{property.city}}, {{property.country}}</p>
        <h4 class="price">R$ {{property.price}} por noite</h4>

        <div class="details">
          <div>
            <img [src]="svgArea" alt="Icone de dois quadrados">
            <p>{{ property.area }} m²</p>
          </div>
          <div class="separator"></div>
          <div>
            <img [src]="svgBedroom" alt="Icone de uma cama">
            <p>{{ property.bedroom }} quarto</p>
          </div>
          <div class="separator"></div>
          <div>
            <img [src]="svgBathroom" alt="Icone de um banheiro">
            <p>{{ property.bathroom }} banheiro</p>
          </div>
          <div class="separator"></div>
          <div>
            <img [src]="svgSpot" alt="Icone de uma garagem">
            <p>{{ property.spot }} vaga</p>
          </div>
        </div>

        <h3 class="titleDescription">Descrição</h3>
        <p>{{property.description}}</p>

        <h5 class="contact-title">Você precisa de mais alguma informação? Entre em contato com o vendedor:</h5>

        <a class="contact" href="https://wa.me/qr/PPG5QQOWTVMWK1">
            <img class="logoWhatsApp" [src]="imgWhatsApp" alt="Icone WhatsApp">
            <p class="text">Contatar anunciante</p>
        </a>

        <span class="neighborhood">Conheça a região do bairro {{property.neighborhood}}</span>
      </div>
    </div>
    <div #map class="map"></div>

    <app-slider titleSlider="Imóveis em Destaque"></app-slider>
    <app-slider titleSlider="Imóveis para Você"></app-slider>
</section>
