@import '../../styles/colors.scss';

.footer {
  width: 100%;
  background: linear-gradient(135deg, $spaceCadet-color, $fordBlue-color);
  color: $aliceBlue-color;
  font-size: 1rem;
  font-weight: 300;
  font-family: 'Poppins', Courier, monospace;
  padding: 60px 0;
  line-height: 30px;
}

.informations {
  width: 1500px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
  gap: 20px 100px;
  transition: 0.4s ease-in-out;
}

.logo, .title {
  font-weight: 400;
  margin: auto 0;
  background-image: linear-gradient(135deg, $scarlet-color, $persimmon-color);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: $white-color;
}

.title {
  font-size: 1.2rem;
}

.logo {
  font-family: 'Courgette', cursive;
  font-size: 2rem;
}

@media (max-width: 1550px) {
  .footer {
    font-size: 0.9rem;
  }

  .informations {
    width: 1100px;
    gap: 10px 20px;
  }

  .title {
    font-size: 1rem;
  }

  .logo {
    font-size: 1.8rem;
  }
}

@media (max-width: 1150px) {
  .informations {
    width: 100%;
    padding: 0 50px;
    gap: 20px 0;
    display: grid;
    grid-template-columns: 1fr;
  }
}
