<footer>
  <div class="infos">
    <div class="boxIntro">
      <h2>Quem Somos?</h2>
      <p>João Pedro e Celso, programadores notáveis, unem habilidade técnica e criatividade, inspirando a comunidade de programação.</p>
    </div>
    <div>
      <h2>Desenvolvido com: </h2>
      <ul>
        <li>Angular</li>
        <li>GIT</li>
        <li>Notion</li>
        <li>Muita analize</li>
      </ul>
    </div>
    <div>
      <h2>Desenvolvedores: </h2>
        <ul>
          <li>João Jardim</li>
          <li>Pedro Correia</li>
          <li>Celso Prado</li>
          <li>Gabriel Ferreia</li>
        </ul>
    </div>
    <div>
      <h2>Entre em contato: </h2>
      <ul>
        <li>{{'contato@email.com'}}</li>
        <li>4004-8922</li>
        <li>+15 99651 1731</li>
        <li>+15 99742 6807</li>
      </ul>
    </div>
  </div>
  <hr >
  <div class="copyright">
    <span>Copyright 2021 All rights reserved by: SweetHome</span>
  </div>
</footer>
