<footer class="footer">
  <div class="informations">
    <div class="section">
      <h1 class="logo">Sweet Home</h1>
      <p>Encontre o imóvel ideal com facilidade! Explore uma vasta seleção de imóveis venais e locais, com descrições detalhadas e fotos. Agende visitas e negocie diretamente. Simples, rápido e confiável.</p>
    </div>
    <div class="section">
      <h4 class="title">Desenvolvedores</h4>
      <p>Celso Gabriel Prado <br> João Pedro C. Jardim</p>
    </div>
    <div class="section">
      <h4 class="title">Usados no desenvolvimento</h4>
      <p>Angular <br> Figma <br> Nodejs </p>
    </div>
  </div>
</footer>
