 <main>
  <form>
    <h2 class="form__title"><b>E</b>ntrar</h2>

    <div class="form__input">

      <div class="form__svg">
        <img [src]="iconsInputs.email" alt="Email">
      </div>

      <input #emailInputRef [(ngModel)]="user.email" (change)="checkMandatoryFieldError($event.target)" type="text" maxlength="30" placeholder="Email de Contato" name="email"/>

    </div>

    <div class="form__input password">

      <div class="form__svg">
        <img [src]="iconsInputs.password" alt="Senha">
      </div>

      <input #passwordInputRef [(ngModel)]="user.password" (change)="checkMandatoryFieldError($event.target)" type="password" maxlength="20" placeholder="Senha" name="password"/>

      <div class="form__svg seePassword" (click)="seePassword()">
        <img [ngClass]="{'active': !visiblePassword}" [src]="iconsInputs.invisible" alt="Icone de Invisivel">
        <img [ngClass]="{'active': visiblePassword}" [src]="iconsInputs.visible" alt="Icone de Visivel">
      </div>

    </div>

    <div class="form__buttons">

      <button type="button" class="solid" (click)="login()">Entrar</button>

    </div>

  </form>

  <section>
    <h4>Não tem uma conta? <b routerLink="/register" [queryParams]="{returnUrl: returnUrl}">Cadastre-se</b></h4>
  </section>
</main>
