
<section>
  <header>
    <div routerLink="/" class="boxLogo">Sweet Home</div>
      <nav>
        <ul>
          <li><a routerLink="/" routerLinkActive="active"  [routerLinkActiveOptions]="{exact: true}" >Home</a></li>
          <li><a routerLink="search" routerLinkActive="active">Pesquisa</a></li>
          <li><a routerLink="property-registration" routerLinkActive="active">Cadastro de Imóveis</a></li>
        </ul>
      </nav>
      <div class="buttons">
        <ul>
          <li *ngIf="!isAuth"><a (click)="login()" class="user">Entrar</a></li>
          <li *ngIf="isAuth"><a routerLink="/" class="user" (click)="logout()">{{ user.name }}</a></li>
        </ul>
        <button class="menu" (click)="changeStatusMenu()">
          <i class="pi" [ngClass]="{'pi-align-justify': !statusMenu, 'pi-times': statusMenu}" style="margin-top: 2px;"></i>
        </button>
      </div>
  </header>
</section>
<div class="headerResponsiveMenu" [ngClass]="{'active': statusMenu}">
  <ul>
    <li><a routerLink="/" routerLinkActive="active"  [routerLinkActiveOptions]="{exact: true}" (click)="changeStatusMenu()">Home</a></li>
    <li><a routerLink="search" routerLinkActive="active" (click)="changeStatusMenu()">Pesquisa</a></li>
    <li><a routerLink="login" routerLinkActive="active" (click)="changeStatusMenu()">Login</a></li>
  </ul>
</div>
