.slider {
  width: 1400px;
  margin: 30px auto;
}

.slider .title {
  font-family: 'Poppins', Courier, monospace;
  font-size: 18px;
}

.slider .slide {
  margin: auto;
  display: flex;
  overflow: hidden;
  padding: 10px 0;
}

@media (max-width: 1500px) {
  .slider {
    width: 1070px;
  }
}

@media (max-width: 1150px) {
  .slider {
    width: 750px;
  }
}

@media (max-width: 800px) {
  .slider {
    width: 450px;
    margin: 20px auto;
  }
}

@media (max-width: 500px) {
  .slider {
    width: 310px;
  }
}
