
<div class="search-bar">
  <div class="search-bar__input">
    <label for="location">
      <div>Onde?</div>
      <input [(ngModel)]="infoInputs.location" type="text" id="location" placeholder="Buscar destinos" (keyup.enter)="search()" [value]="addressSearched">
    </label>
  </div>
  <div class="search-bar__input">
    <label for="minValue">
      <div>Valor Mínimo</div>
      <input [(ngModel)]="infoInputs.minValue" type="number" id="minValue" placeholder="Valor mínimo por diaria" (keyup.enter)="search()">
    </label>
  </div>
  <div class="search-bar__input">
    <label for="maxValue">
      <div>Valor máximo</div>
      <input [(ngModel)]="infoInputs.maxValue" type="number" id="maxValue" placeholder="Valor máximo por diaria" (keyup.enter)="search()">
    </label>
  </div>
  <div class="search-bar__input">
    <label for="bedroom">
      <div>Quartos?</div>
      <input [(ngModel)]="infoInputs.bedroom" type="number" id="bedroom" placeholder="Quantidade de quartos" (keyup.enter)="search()">
    </label>
  </div>
  <div class="search-bar__svg" (click)="search()">
    <img [src]="icons.search" alt="Pesquisar">
  </div>
</div>

<app-tags (tagClicked)="tagClicked($event)"></app-tags>
