<div class="card">
  <img class="card__img" [src]="imgProperty" alt="Foto de uma casa bonita e elegante">
  <div class="card__info">
    <p class="price">R$ {{ infoProperty.price }} mês</p>
    <p class="location">{{ infoProperty.city }}, {{ infoProperty.country }}</p>
    <div class="details">
      <div class="information">
        <img [src]="svgBedroom" alt="Icone de uma cama">
        <p>{{ infoProperty.bedroom }} quartos</p>
      </div>
      <div class="information">
        <img [src]="svgArea" alt="Icone de dois quadrados">
        <p>{{ infoProperty.area }} m²</p>
      </div>
      <div class="information">
        <img [src]="svgBathroom" alt="Icone de um banheiro">
        <p>{{ infoProperty.bathroom }} banheiros</p>
      </div>
      <div class="information">
        <img [src]="svgSpot" alt="Icone de uma garagem">
        <p>{{ infoProperty.spot }} vaga</p>
      </div>
    </div>
  </div>
</div>
