<div class="card">
  <img class="card__img" src="./../../../assets/Components/card/imgCard.jpg" alt="Foto de uma casa bonita e elegante">
  <div class="card__detalhes">
    <p class="preco">R$ 2.500 mês</p>
    <p class="localizacao">Buri, Brasil</p>
    <div class="detalhes">
      <div class="informacao">
        <img src="" alt="Icone">
        <p>3 quartos</p>
      </div>
      <div class="informacao">
        <img src="" alt="Icone">
        <p>72 m</p>
      </div>
      <div class="informacao">
        <img src="" alt="Icone">
        <p>2 banheiros</p>
      </div>
      <div class="informacao">
        <img src="" alt="Icone">
        <p>1 vaga</p>
      </div>
    </div>
  </div>
</div>
