@import '../../styles/colors.scss';

main {
  font-family: 'Poppins', serif, sans-serif;
  height: 100vh;
  background-color: $aliceBlue-color;
  user-select: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-x: hidden;
}

.step-bar {
  min-width: 400px;
  min-height: 60px;
  margin-top: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.step__list {
  list-style-type: none;
  display: flex;
  z-index: 10;
}

.step__item {
  padding: 0 20px;
  flex-basis: 0;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  text-align: center;
  min-width: 60px;
  position: relative;
}

.step__item:first-child .progress__label{
  margin-left: -10px;
}

.step__item + .step__item::after {
  content: "";
  position: absolute;
  left: 0;
  top: 54px;
  background: linear-gradient(45deg, $scarlet-color, $persimmon-color);
  width: 100%;
  height: 2px;
  transform: translateX(-50%);
  z-index: -10;
}

.progress__label {
  font-size: 16px;
  font-weight: 500;
}

.progress__count {
  height: 40px;
  width: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  font-weight: 500;
  margin: 10px auto;
  position: relative;
  z-index: 10;
}

.progress__count::after {
  content: "";
  height: 40px;
  width: 40px;
  background: linear-gradient(45deg, $scarlet-color, $persimmon-color);
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  z-index: -10;
}

.progress__count::before {
  content: "";
  height: 8px;
  width: 16px;
  border-left: 3px solid $white-color;
  border-bottom: 3px solid $white-color;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -65%) rotate(-45deg);
  transform-origin: center center;
}

.progress__count p {
  display: none;
}

.current-item .progress__count::before,
.current-item~.step__item .progress__count::before {
  display: none;
}

.current-item~.step__item .progress__count::after {
  height: 10px;
  width: 10px;
}

.current-item~.step__item .progress__label {
  opacity: 0.5;
}

.current-item .progress__count::after {
  background: $aliceBlue-color;
  border: 2px solid $scarlet-color;
}

.current-item p {
  display: block;
  color: $scarlet-color;
}

form {
  width: 400px;
  padding: 0 10px;
  position: relative;
}

.form__step {
  position: absolute;
  width: 400px;
  left: 450px;
  opacity: 0;
  transition: 0.8s ease-in-out;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.active {
  left: 0;
  opacity: 1;
  transition: 0.8s ease-in-out;
}

.form__title {
  font-size: 3rem;
  color: $onyx-color;
  margin: 50px 0;
  width: 100%;
  text-align: center;
}

.form__title b {
  color: $scarlet-color;
  font-weight: 900;
}

.form__input {
  max-width: 400px;
  width: 100%;
  height: 55px;
  background-color: $white-color;
  margin-bottom: 20px;
  border-radius: 24px;
  display: grid;
  grid-template-columns: 15% 85%;
  transition: 0.2s ease-in-out;
}

.form__svg {
  display: flex;
  align-items: center;
  justify-content: center;
  color: $sonicSilver-color;
}

.inputs {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 0 15px;
}

.form__input input {
  padding-right: 10px;
  background: none;
  outline: none;
  border: none;
  font-weight: 600;
  font-size: 1.1rem;
  color: $onyx-color;
  border-top-right-radius: 24px;
  border-bottom-right-radius: 24px;
}

.form__input input::placeholder {
  color: $silverChalice-color;
}

.form__input:hover {
  background-color: $cultured-color;
}

.form__buttons {
  width: 100%;
  gap: 10px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.form__label {
  text-align: center;
  margin-bottom: 15px;
}

.form__label:nth-child(2) {
  font-weight: 500;
  font-size: 1.2rem;
}

.form__label:nth-child(3) {
  font-weight: 400;
  font-size: 1rem;
  color: $onyx-color;
}

.form__divider{
  width: 300px;
  height: 2px;
  background: linear-gradient(to left, $persimmon-color, $scarlet-color);
  margin-bottom: 15px;
}

.form__label:nth-child(5) {
  font-weight: 500;
  font-size: 1.4rem;
  margin-bottom: 5px;
}

.form__label:nth-child(6) {
  font-weight: 400;
  font-size: 0.8rem;
  color: $onyx-color;

  p {
    margin-bottom: 5px;
  }
}

.form__upload {
  padding: 15px;
  width: 150px;
  border-radius: 24px;
  border: 2px solid $scarlet-color;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  cursor: pointer;
  margin-bottom: 30px;
  transition: 0.5s;

  label {
    color: $scarlet-color;
    font-weight: 500;
    font-size: 1.2rem;
    margin-top: 10px;
  }
}

.form__upload:hover {
  box-shadow: 3px 3px 10px -3px $onyx-color;
}

button {
  text-align: center;
  width: 100%;
  height: 50px;
  font-weight: 600;
  font-size: 0.95rem;
  border-radius: 48px;
  cursor: pointer;
  text-transform: uppercase;
  margin-top: 10px;
  transition: 0.5s;
}

button.solid {
  background: linear-gradient(135deg, $persimmon-color, $scarlet-color);
  color: $white-color;
  border: none;
}

button.solid:hover {
  box-shadow: 3px 3px 10px -3px $onyx-color;
}

button.transparent {
  border: 2px solid $spaceCadet-color;
  background-color: $aliceBlue-color;
  color: $spaceCadet-color;
}

button.transparent:hover {
  box-shadow: 3px 3px 10px -3px $onyx-color;
}

.modal {
  width: 100%;
  height: calc(100% - 50px);
  position: absolute;
  display: none;
  justify-content: center;
  align-items: center;
}

.modal.active {
  display: flex;
}

.modal .modal__content {
  width: 1200px;
  background-color: $cultured-color;
  border-radius: 24px;
  margin: 0 20px;
  position: relative;
  z-index: 100;
}

.modal .background {
  width: 100%;
  height: 100%;
  background-color: rgba($color: #000000, $alpha: 0.5);
  position: absolute;
  z-index: 11;
}

.modal .modal__content .close__button {
  width: 24px;
  position: absolute;
  right: 20px;
  top: 20px;
}

.modal .modal__content h1 {
  width: 100%;
  text-align: center;
  padding: 15px 0 5px 0;
  color: $onyx-color;
}

.modal .modal__content .grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  padding: 10px;
  gap: 10px;
}

.modal .modal__content img {
  width: 100%;
  cursor: pointer;
}

.modal .modal__content .grid img:first-child {
  border-radius: 12px 0 0 0;
}

.modal .modal__content .grid img:nth-child(3) {
  border-radius: 0 12px 0 0;
}

.modal .modal__content .grid img:nth-child(4) {
  border-radius: 0 0 0 12px;
}

.modal .modal__content .grid img:last-child {
  border-radius: 0 0 12px 0;
}
