.card {
  width: 300px;
  display: flex;
  flex-direction: column;
  cursor: pointer;
  filter: drop-shadow(2px 2px 4px rgba(0, 0, 0, 0.25));
}

.card__img {
  height: 140px;
  width: 100%;
  object-fit: cover;
  border-radius: 12px 12px 0 0;
  background-color: antiquewhite;
}

.card__info {
  padding: 5px 10px 10px 10px;
  border-radius: 0 0 18px 18px;
  display: flex;
  flex-direction: column;
  color: #FFFFFF;
  font-family: 'Poppins', Courier, monospace;
  background: linear-gradient(90deg, #FF2E00 0%, #EA580C 100%);
}

.card__info .price {
  font-size: 20px;
  font-weight: 400;
}

.card__info .location {
  font-size: 16px;
  font-weight: 400;
}

.card__info .details {
  display: grid;
  gap: 5px;
  margin-top: 5px;
  grid-template-columns: 1fr 1fr;
}

.card__info .information {
  display: flex;
  gap: 5px;
}

.card__info .information p {
  font-size: 14px;
  font-weight: 400;
}
