<main>
  <form>
    <h2 class="form__title"><b>C</b>adastra-se</h2>

    <div class="form__input">

      <div class="form__svg">
        <img [src]="iconsInputs.personBlack" alt="Nome do Anunciante">
      </div>

      <input #nameInputRef (change)="checkMandatoryFieldError($event.target)" [(ngModel)]="newUser.name" type="text"  placeholder="Nome" name="name"/>

    </div>

    <div class="form__input">

      <div class="form__svg">
        <img [src]="iconsInputs.contactEmail" alt="Email de Contato do Anunciante">
      </div>

      <input #emailInputRef (change)="checkMandatoryFieldError($event.target)" [(ngModel)]="newUser.contactEmail" type="text"  placeholder="Email de Contato" name="contactEmail"/>

    </div>

    <div class="form__input password" [ngClass]="{'differentPasswordsError': differentPasswordsError}">

      <div class="form__svg">
        <img [src]="iconsInputs.password" alt="Icone da Senha">
      </div>

      <input #passwordInputRef (change)="checkMandatoryFieldError($event.target)" [(ngModel)]="newUser.password" type="password" maxlength="20" placeholder="Senha" name="password"/>

      <div class="form__svg seePassword" (click)="seePassword()">
        <img [ngClass]="{'active': !visiblePassword}" [src]="iconsInputs.invisible" alt="Icone de Invisivel">
        <img [ngClass]="{'active': visiblePassword}" [src]="iconsInputs.visible" alt="Icone de Visivel">
      </div>

    </div>

    <div class="form__input password" [ngClass]="{'differentPasswordsError passwordConfirmation': differentPasswordsError}">

      <div class="form__svg">
        <img [src]="iconsInputs.password" alt="Icone da Senha">
      </div>

      <input #passwordConfirmationInputRef (change)="checkMandatoryFieldError($event.target)" (change)="checkDifferentPasswordsError()" [(ngModel)]="passwordConfirmation" type="password" maxlength="20" placeholder="Confirme Senha" name="password"/>

      <div class="form__svg seePassword" (click)="seePassword()">
        <img [ngClass]="{'active': !visiblePassword}" [src]="iconsInputs.invisible" alt="Icone de Invisivel">
        <img [ngClass]="{'active': visiblePassword}" [src]="iconsInputs.visible" alt="Icone de Visivel">
      </div>

    </div>

    <div class="form__buttons">

      <button type="button" class="solid" (click)="register()">Cadastrar</button>

    </div>

  </form>

  <section>
    <h4>Já tem uma conta? <b routerLink="/login">Entre</b></h4>
  </section>
</main>
