<main>
  <div class="filterInfo">
    <p> {{ numberOfProperties }} Imóveis encontrados </p>
  </div>
  <div class="infoImmobile" (click)="redirectDetails(property.id)" *ngFor="let property of properties">
    <img class="imgImmobile" [src]="property.url" alt="">
    <div class="infos">
        <h1>R$ {{ property.price }}</h1>
        <p class="description">{{ property.description }}</p>
        <p class="city">{{ property.city }} - {{ property.uf }}</p>
        <div class="details">
            <div class="detail">
                <img [src]="svgArea" alt="">
                <p>{{ property.area }}</p>
            </div>
            <div class="detail">
                <img [src]="svgBedroom" alt="">
                <p>{{ property.bedroom }}</p>
            </div>
            <div class="detail">
                <img [src]="svgSpot" alt="">
                <p>{{ property.spot }}</p>
            </div>
            <div class="detail">
                <img [src]="svgBathroom" alt="">
                <p>{{ property.bathroom }}</p>
            </div>
        </div>
    </div>
  </div>
  <div class="infoImmobileStep">
    <img #previous [src]="svgArrow" class="previous active" alt="" (click)="previousCardSet(1)">
    <div class="step" [ngClass]="{'active': i === propertiesStep }" *ngFor="let infoImovel of propertiesSeparated; let i = index" (click)="changeStep(i)"><h4>{{ i + 1 }}</h4></div>
    <img #next [src]="svgArrow" class="active" alt="" (click)="nextCardSet(1)">
  </div>
</main>
