<footer>
  <div class="infos">
    <div>
      <h2>Quem Somos?</h2>
      <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. natus ea iste voluptatibus consequatur voluptatem, magni asperiores.</p>
    </div>
    <div>
      <h2></h2>
      <div>
        <h5></h5>
        <h5></h5>
        <h5></h5>
        <h5></h5>
      </div>
    </div>
    <div>
      <h2></h2>
      <div>
        <h5></h5>
        <h5></h5>
        <h5></h5>
        <h5></h5>
      </div>
    </div>
    <div>
      <h2></h2>
      <div>
        <h5></h5>
        <h5></h5>
        <h5></h5>
        <h5></h5>
      </div>
    </div>
  </div>
  <div class="copyright">
    <h3>Copyright 2021 All rights reserved by: SweetHome</h3>
  </div>
</footer>
